<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>AthleteDataService</title>
</head>
<body>
    <div class="w3-container container">
        {% for athlete in data %}
        <div class="w3-card-4">

            <header class="w3-container w3-light-grey">
              <h3>{{ athlete['athlete'] }}</h3>
            </header>
            
            <div class="w3-container">
              <p>Test: {{ athlete['test'] }}</p>
              <hr>
            </div>

            <div class="w3-container">
                <p>Summary:</p>
                <table class="w3-table w3-striped w3-border">
                    <tr>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Value</th>
                    </tr>
                    {% for summary in athlete['summary'] %}  
                    <tr>
                      <td>{{ summary['date'] | split_date }}</td>
                      <td>{{ summary['date'] | split_time }}</td>
                      <td>{{ summary['value'] }}</td>
                    </tr>
                    {% endfor %}
                </table>
              <hr>
            </div>
            
        </div>
        {% endfor %}
    </div>
</body>
</html>